.git
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store

.n8n
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db

execution*.json
execution*.flatted.json
*.log
*.err.log

n8n-last-run.txt
nodes-export.json
tests
.planning
